//
// Nav
// --------------------------------------------------
#nav {
  bottom: 0;
  font: 15px/19px $font-family-secondary;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  padding-top: $nav-height;
  position: fixed;
  right: 0;
  top: 0;
  visibility: hidden;
  width: 200px;
  z-index: 1;
  &.active {
    visibility: visible;
    & + .overlay {display: block;}
  }
}
.nav-list {
  list-style: none;
  margin: 0;
  padding: 0 30px 27px;
  a {
    border-bottom: 2px solid transparent;
    color: #fff;
    display: block;
    padding: 5px 0 4px;
    text-decoration: none;
    &:hover,
    &.active {
      border-bottom: 2px solid #818689;
      color: #818689;
    }
  }
}
.nav-list-add {padding: 28px 50px 30px;}
#header .row,
.nav-list,
.nav-list-add {
  padding-left: 30px;
  padding-right: 30px;
}
@media only screen and (min-width: $xl-breakpoint) {
  #nav {
    display: block;
    font-size: 19px;
    line-height: 25px;
    padding-top: 0;
    position: static;
    visibility: visible;
    width: auto;
  }
  .nav-list {
    padding: 0 50px 60px;
    a {padding: 6px 0 4px;}
  }
  .nav-list-add {
    padding: 17px 50px 45px;
  }
  #header .row,
  .nav-list,
  .nav-list-add {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media only screen and (min-width: $xl-breakpoint) and (max-height: 864px) {
  .nav-list {
    padding-bottom: 10px;
    a {padding: 3px 0 2px;}
  }
  .nav-list-add {
    padding-bottom: 10px;
    padding-top: 10px;
  }
}
@media only screen and (min-width: $xl-breakpoint) and (max-height: 700px) {
  #nav {font-size: 16px;}
  .nav-list {
    a {padding: 0}
  }
  .nav-list-add {
    padding-bottom: 10px;
    padding-top: 10px;
  }
}